<!--
 * @Author: 高江华 g598670138@163.com
 * @Date: 2023-12-04 15:14:12
 * @LastEditors: 高江华
 * @LastEditTime: 2024-06-27 10:05:57
 * @Description: file content
-->
<!DOCTYPE html>
<html lang="en">

<body>
    <div class="header position-relative d-flex a-center j-sb box">
        <a href="/index.html" class="d-flex a-center h-100">
            <img class="image" src="./assets/logo.png" alt="">
            <h1 class="name font-weight main-color ml-1">宫悦商城</h1>
        </a>
        <div class="navbar h-100 d-flex a-center position-relative">
            <a href="/index.html" class="nav-item h-100 d-flex a-center">
                首页
            </a>
            <a href="/agreement.html" class="nav-item h-100 ml-2 d-flex a-center">
                用户协议
            </a>
            <a href="/privacy.html" class="nav-item h-100 ml-2 d-flex a-center">
                隐私政策
            </a>
            <div id="us" class="nav-item h-100 ml-2 cur d-flex a-center">
                联系我们
            </div>
            <div class="position-absolute line-h-lg right-0 us text-center">
                Email：G598670138@163.com
            </div>
        </div>
        <div class="h5">
            <div class="d-flex a-center ">
                <!-- <div class="app d-flex a-center j-center mr-1">DOWNLOAD APP</div> -->
                <img id="menu" style="width: 26px; height: 26px;" src="/assets/menu.png" alt="">
            </div>
        </div>
        <div class="position-absolute h5 right-0 menu">
            <div class="d-flex a-center">
                <div></div>
                <div class="menu-item d-flex ml-auto p-2 flex-column">
                    <a href="/index.html" class="nav-item d-flex a-center">
                        首页
                    </a>
                    <a href="/agreement.html" class="nav-item mt-2 d-flex a-center">
                        用户协议
                    </a>
                    <a href="/privacy.html" class="nav-item mt-2 d-flex a-center">
                        隐私政策
                    </a>
                    <span class="mt-2 nav-item">Email：G598670138@163.com</span>
                </div>
            </div>
        </div>
    </div>
    <script src="/layout/index.js"></script>
</body>

</html>